.progress__track {
    stroke: var(--light-grey);
}

.progress__value {
    stroke: var(--blue);
    stroke-linecap: square;
    transition: 0.25s ease;
}

.progress--hidden {
    display: none;
}

.progress--animated {
    animation: progress-rotate var(--progress-duration) linear infinite;
}

@keyframes progress-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
