@import "reset.css";

:root {
    /* Цвета */
    --white: #ffffff;
    --light-grey: #dae6ec;
    --blue: #005cff;
    --black: #000000;

    /* Параметры компонентов */
    --progress-track: var(--light-grey);
    --progress-value: var(--blue);
    --progress-duration: 1200ms;

    /* Размеры элементов */
    --input-height: 30px;
    --input-width: 50px;
    --input-border-radius: calc(var(--input-height) / 2);

    --switch-padding: 2px;
    --thumb-size: calc(var(--input-height) - var(--switch-padding) * 2);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.demo {
    min-height: 100svh;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.demo__title {
    font-size: 16px;
    font-weight: 600;
}

.demo__container {
    flex: 1;
    display: flex;
    padding: 24px 0;
}

.demo__progress-and-controls {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 60px;
    width: min(100%, 420px);
    min-height: 100%;
    margin: 0 auto;
}

.demo__progress {
    align-self: end;
}

.demo__controls {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: min-content;
    gap: 12px;
}

.control {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    font-weight: 600;
}

.field {
    width: var(--input-width);
    height: var(--input-height);
    border-radius: var(--input-border-radius);

    text-align: center;
    font-size: 100%;
    border: 2px solid;
    font-weight: 600;
}


/* Переключатель */

.switch {
    width: var(--input-width);
    height: var(--input-height);
    padding: var(--switch-padding);
    border-radius: var(--input-border-radius);

    position: relative;
    background-color: var(--light-grey);
    transition: background-color 0.25s ease;
}

.switch::before {
    position: absolute;
    content: "";
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--white);
    border-radius: 50%;
    transition: transform 0.25s ease;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch:has(input:checked) {
  background-color: var(--blue);
}

.switch:has(input:checked)::before {
  transform: translateX(20px);
}

@media (min-width: 450px) and (orientation: landscape) {
    .demo {
        padding: 24px;
    }

    .demo__container {
        padding: 32px 0;
    }

    .demo__progress-and-controls {
        width: min(100%, 720px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 48px;
    }

    .demo__progress {
        align-self: unset;
    }

    .demo__controls {
        align-self: unset;
    }
}
